<%- include('../layouts/header',{title: 'BOUTIQUE ELENA'}); -%>
<body>
    <header>
      <nav class="navbar navbar-expand-lg bg-body-tertiary bg-light border-bottom border-bottom-dark" data-bs-theme="light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="/style/images/logo.png" alt="logo" class="logoEmp">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/auth/signIn">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/shopping-car">Shopping</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="¿Qué producto buscas?" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
          </div>
        </div>
      </nav>

    <br />
  <body>
    <br />
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="alert alert-success text-center">INICIO DE SESIÓN</h1>
                <form method="post" action="/auth/signIn">
                  <div class="mb-3">
                    <label for="username" class="form-label">Nombre de Usuario</label>
                    <input type="text" class="form-control" id="username" name="username">
                  </div>
                  <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password">
                  </div>
                  <div class="d-grid">
                    <button type="submit" class="btn btn-secondary">Iniciar de sesión</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <br />

  </header>


  <%- include('../layouts/footer'); -%>